.weather-container {
    font-family: 'Patua One', 'Times New Roman', Times, serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

main {

    width: 100%;
}