.time-container {
    /* border: 15px solid rgb(198, 162, 126); */
    font-size: 3rem;
}

.clock-display {
    font-family: 'Poiret One', 'Times New Roman', Times, serif;

    border:5px solid grey;
    border-radius: 4px;
    
    background-color: rgb(24, 39, 39);
    color: rgb(255, 255, 255);

    display: flex;
    flex-direction: row;
    
}

.hour-display {
    padding:7px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;

    background-image: url("https://imgur.com/A8uURh1.png");
    background-size: cover;
    background-position: left;
}
.minute-display {
    padding:7px;
    border: 2px solid black;

    background-image: url("https://imgur.com/xaIZQTe.png");
    background-size: cover;
    background-position: right;
}